In [2]:
import findspark
findspark.init('/home/ubuntu/spark-3.2.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('not basics').getOrCreate()

avg_df = spark.read.csv("./AvgSalary.csv", header=True)
salary_df = spark.read.csv("./Glassdoor Gender Pay Gap.csv", header=True, inferSchema=True)

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/ubuntu/spark-3.2.1-bin-hadoop2.7/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/10/11 02:24:20 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [18]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [8]:
salary_df.summary().show()

+-------+-------------------+------+------------------+------------------+---------+--------------+------------------+-----------------+------------------+------------------+
|summary|           JobTitle|Gender|               Age|          PerfEval|Education|          Dept|         Seniority|          BasePay|             Bonus|         CompanyID|
+-------+-------------------+------+------------------+------------------+---------+--------------+------------------+-----------------+------------------+------------------+
|  count|               1000|  1000|              1000|              1000|      989|           999|              1000|             1000|              1000|              1000|
|   mean|               null|  null|            41.393|             3.037|     null|          null|             2.971|        93994.653|          6506.161|           688.204|
| stddev|               null|  null|14.294855504477594|1.4239587980902595|     null|          null|1.3950287112117459|25530.79670901769|2479.4433190236978|374.39559618997464|
|    min|     Data Scientist|Female|                18|                 1|  College|Administration|                 1|            34208|               149|                 4|
|    25%|               null|  null|                29|                 2|     null|          null|                 2|            76654|              4845|               385|
|    50%|               null|  null|                41|                 3|     null|          null|                 3|            93073|              6508|               701|
|    75%|               null|  null|                54|                 4|     null|          null|                 4|           110078|              8035|              1006|
|    max|Warehouse Associate|  Male|                65|                 5|      PhD|         Sales|                 5|           242105|             50000|              1314|
+-------+-------------------+------+------------------+------------------+---------+--------------+------------------+-----------------+------------------+------------------+

In [15]:
salary_df.show()

+-----------------+------+---+--------+-----------+--------------+---------+-------+-----+---------+
|         JobTitle|Gender|Age|PerfEval|  Education|          Dept|Seniority|BasePay|Bonus|CompanyID|
+-----------------+------+---+--------+-----------+--------------+---------+-------+-----+---------+
|          Manager|  Male| 58|       1|        PhD|    Management|        4| 179726| 4284|       95|
|          Manager|  Male| 59|       4|        PhD|         Sales|        5| 196789| 6773|       29|
|               IT|  Male| 65|       4|    Masters|         Sales|        5| 165229| 6506|     1286|
|          Manager|  Male| 55|       1|High School|    Management|        5| 163208| 4095|      421|
|          Manager|Female| 60|       4|        PhD|    Management|        3| 140614| 8354|      812|
|Software Engineer|  Male| 59|       1|    College|         Sales|        5| 200460| 2930|      845|
|Software Engineer|  Male| 65|       4|High School|    Management|        5| 157852| 6669|      340|
|          Manager|  Male| 60|       4|    College|    Management|        3| 157644| 7213|      770|
|          Manager|  Male| 62|       5|    College|Administration|        5| 157410| 7840|       43|
|Software Engineer|  Male| 64|       2|        PhD|         Sales|        5| 157277| 4844|     1273|
|          Manager|  Male| 48|       2|        PhD|   Engineering|        4| 197169| 5798|      630|
|Software Engineer|  Male| 59|       4|    Masters|   Engineering|        4| 155834| 7101|       80|
|          Manager|  Male| 47|       1|    Masters|   Engineering|        4| 155826| 4964|      148|
|Software Engineer|  Male| 60|       4|    Masters|         Sales|        5| 155676| 6586|     1267|
|          Manager|Female| 62|       4|    Masters|         Sales|        4| 125203| 7808|        5|
|Software Engineer|  Male| 58|       4|    Masters|   Engineering|        5| 154039| 7304|      679|
|          Manager|  Male| 55|       2|    College|    Management|        5| 152710| 6107|       17|
|          Manager|  Male| 43|       1|        PhD|    Management|        4| 152625| 4702|      474|
|          Manager|  Male| 56|       2|        PhD|Administration|        4| 152081| 4621|      248|
|          Manager|  Male| 57|       3|        PhD|    Operations|        5| 190914| 5982|      618|
+-----------------+------+---+--------+-----------+--------------+---------+-------+-----+---------+
only showing top 20 rows

In [6]:
from pyspark.sql import functions as F
df_agg = salary_df.agg(*(F.count(F.when(F.isnull(c),c)).alias(c) for c in salary_df.columns))

df_agg.show()

+--------+------+---+--------+---------+----+---------+-------+-----+---------+
|JobTitle|Gender|Age|PerfEval|Education|Dept|Seniority|BasePay|Bonus|CompanyID|
+--------+------+---+--------+---------+----+---------+-------+-----+---------+
|       0|     0|  0|       0|       11|   1|        0|      0|    0|        0|
+--------+------+---+--------+---------+----+---------+-------+-----+---------+

In [12]:
salary_df.describe(['BasePay', 'Bonus']).show()

+-------+-----------------+------------------+
|summary|          BasePay|             Bonus|
+-------+-----------------+------------------+
|  count|             1000|              1000|
|   mean|        93994.653|          6506.161|
| stddev|25530.79670901769|2479.4433190236978|
|    min|            34208|               149|
|    max|           242105|             50000|
+-------+-----------------+------------------+

In [15]:
salary_df.filter("Gender=='Female'").show()

+-------------------+------+---+--------+-----------+--------------+---------+-------+-----+---------+
|           JobTitle|Gender|Age|PerfEval|  Education|          Dept|Seniority|BasePay|Bonus|CompanyID|
+-------------------+------+---+--------+-----------+--------------+---------+-------+-----+---------+
|            Manager|Female| 60|       4|        PhD|    Management|        3| 140614| 8354|      812|
|            Manager|Female| 62|       4|    Masters|         Sales|        4| 125203| 7808|        5|
|            Manager|Female| 45|       1|High School|   Engineering|        5| 129893| 5120|     1003|
|  Financial Analyst|Female| 47|       5|High School|         Sales|        5| 126190| 8961|      417|
|            Manager|Female| 62|       4|    Masters|Administration|        3| 106008| 6235|      884|
|            Manager|Female| 57|       1|    Masters|    Operations|        3| 145095| 3889|      590|
|            Manager|Female| 45|       2|High School|    Management|        5| 104146| 6340|      624|
|    Sales Associate|Female| 65|       2|        PhD|         Sales|        5| 122505| 4214|      606|
|     Data Scientist|Female| 58|       1|High School|         Sales|        5| 101005| 3384|      680|
|     Data Scientist|Female| 51|       1|        PhD|         Sales|        5| 119141| 4969|      930|
|  Financial Analyst|Female| 61|       1|    Masters|   Engineering|        4| 119042| 2982|      792|
|     Data Scientist|Female| 55|       2|    Masters|         Sales|        5| 118365| 5359|      689|
|            Manager|Female| 59|       2|High School|    Management|        2| 116215| 3603|      829|
|            Manager|Female| 55|       1|High School|Administration|        3| 115638| 2824|     1279|
|Warehouse Associate|Female| 58|       1|    Masters|    Management|        4| 134109| 4184|     1086|
|   Graphic Designer|Female| 57|       2|    Masters|         Sales|        5| 133741| 4925|      833|
|     Data Scientist|Female| 53|       5|    Masters|   Engineering|        5| 103495| 8552|      489|
|                 IT|Female| 44|       2|        PhD|    Operations|        5| 102267| 5679|     1139|
|    Sales Associate|Female| 61|       3|        PhD|    Management|        4| 131608| 6537|      815|
|                 IT|Female| 44|       1|High School|         Sales|        5| 101411| 3084|     1247|
+-------------------+------+---+--------+-----------+--------------+---------+-------+-----+---------+
only showing top 20 rows

In [3]:
salary_df = salary_df.na.drop()

In [5]:
salary_df = salary_df.withColumn("TotalSalary", salary_df.BasePay + salary_df.Bonus)
salary_df.show()

+-----------------+------+---+--------+-----------+--------------+---------+-------+-----+---------+-----------+
|         JobTitle|Gender|Age|PerfEval|  Education|          Dept|Seniority|BasePay|Bonus|CompanyID|TotalSalary|
+-----------------+------+---+--------+-----------+--------------+---------+-------+-----+---------+-----------+
|          Manager|  Male| 58|       1|        PhD|    Management|        4| 179726| 4284|       95|     184010|
|          Manager|  Male| 59|       4|        PhD|         Sales|        5| 196789| 6773|       29|     203562|
|               IT|  Male| 65|       4|    Masters|         Sales|        5| 165229| 6506|     1286|     171735|
|          Manager|  Male| 55|       1|High School|    Management|        5| 163208| 4095|      421|     167303|
|          Manager|Female| 60|       4|        PhD|    Management|        3| 140614| 8354|      812|     148968|
|Software Engineer|  Male| 59|       1|    College|         Sales|        5| 200460| 2930|      845|     203390|
|Software Engineer|  Male| 65|       4|High School|    Management|        5| 157852| 6669|      340|     164521|
|          Manager|  Male| 60|       4|    College|    Management|        3| 157644| 7213|      770|     164857|
|          Manager|  Male| 62|       5|    College|Administration|        5| 157410| 7840|       43|     165250|
|Software Engineer|  Male| 64|       2|        PhD|         Sales|        5| 157277| 4844|     1273|     162121|
|          Manager|  Male| 48|       2|        PhD|   Engineering|        4| 197169| 5798|      630|     202967|
|Software Engineer|  Male| 59|       4|    Masters|   Engineering|        4| 155834| 7101|       80|     162935|
|          Manager|  Male| 47|       1|    Masters|   Engineering|        4| 155826| 4964|      148|     160790|
|Software Engineer|  Male| 60|       4|    Masters|         Sales|        5| 155676| 6586|     1267|     162262|
|          Manager|Female| 62|       4|    Masters|         Sales|        4| 125203| 7808|        5|     133011|
|Software Engineer|  Male| 58|       4|    Masters|   Engineering|        5| 154039| 7304|      679|     161343|
|          Manager|  Male| 55|       2|    College|    Management|        5| 152710| 6107|       17|     158817|
|          Manager|  Male| 43|       1|        PhD|    Management|        4| 152625| 4702|      474|     157327|
|          Manager|  Male| 56|       2|        PhD|Administration|        4| 152081| 4621|      248|     156702|
|          Manager|  Male| 57|       3|        PhD|    Operations|        5| 190914| 5982|      618|     196896|
+-----------------+------+---+--------+-----------+--------------+---------+-------+-----+---------+-----------+
only showing top 20 rows

In [6]:
df = salary_df.join(avg_df, salary_df.JobTitle == avg_df.JobTitle, "inner")

In [8]:
df = df.withColumn("BelowAvg", df.TotalSalary < df.AvgSalary)
df.show()

+-----------------+------+---+--------+-----------+--------------+---------+-------+-----+---------+-----------+-----------------+-----------+--------+
|         JobTitle|Gender|Age|PerfEval|  Education|          Dept|Seniority|BasePay|Bonus|CompanyID|TotalSalary|         JobTitle|  AvgSalary|BelowAvg|
+-----------------+------+---+--------+-----------+--------------+---------+-------+-----+---------+-----------+-----------------+-----------+--------+
|          Manager|  Male| 58|       1|        PhD|    Management|        4| 179726| 4284|       95|     184010|          Manager|132429.1528|   false|
|          Manager|  Male| 59|       4|        PhD|         Sales|        5| 196789| 6773|       29|     203562|          Manager|132429.1528|   false|
|               IT|  Male| 65|       4|    Masters|         Sales|        5| 165229| 6506|     1286|     171735|               IT|97152.63043|   false|
|          Manager|  Male| 55|       1|High School|    Management|        5| 163208| 4095|      421|     167303|          Manager|132429.1528|   false|
|          Manager|Female| 60|       4|        PhD|    Management|        3| 140614| 8354|      812|     148968|          Manager|132429.1528|   false|
|Software Engineer|  Male| 59|       1|    College|         Sales|        5| 200460| 2930|      845|     203390|Software Engineer|114419.9505|   false|
|Software Engineer|  Male| 65|       4|High School|    Management|        5| 157852| 6669|      340|     164521|Software Engineer|114419.9505|   false|
|          Manager|  Male| 60|       4|    College|    Management|        3| 157644| 7213|      770|     164857|          Manager|132429.1528|   false|
|          Manager|  Male| 62|       5|    College|Administration|        5| 157410| 7840|       43|     165250|          Manager|132429.1528|   false|
|Software Engineer|  Male| 64|       2|        PhD|         Sales|        5| 157277| 4844|     1273|     162121|Software Engineer|114419.9505|   false|
|          Manager|  Male| 48|       2|        PhD|   Engineering|        4| 197169| 5798|      630|     202967|          Manager|132429.1528|   false|
|Software Engineer|  Male| 59|       4|    Masters|   Engineering|        4| 155834| 7101|       80|     162935|Software Engineer|114419.9505|   false|
|          Manager|  Male| 47|       1|    Masters|   Engineering|        4| 155826| 4964|      148|     160790|          Manager|132429.1528|   false|
|Software Engineer|  Male| 60|       4|    Masters|         Sales|        5| 155676| 6586|     1267|     162262|Software Engineer|114419.9505|   false|
|          Manager|Female| 62|       4|    Masters|         Sales|        4| 125203| 7808|        5|     133011|          Manager|132429.1528|   false|
|Software Engineer|  Male| 58|       4|    Masters|   Engineering|        5| 154039| 7304|      679|     161343|Software Engineer|114419.9505|   false|
|          Manager|  Male| 55|       2|    College|    Management|        5| 152710| 6107|       17|     158817|          Manager|132429.1528|   false|
|          Manager|  Male| 43|       1|        PhD|    Management|        4| 152625| 4702|      474|     157327|          Manager|132429.1528|   false|
|          Manager|  Male| 56|       2|        PhD|Administration|        4| 152081| 4621|      248|     156702|          Manager|132429.1528|   false|
|          Manager|  Male| 57|       3|        PhD|    Operations|        5| 190914| 5982|      618|     196896|          Manager|132429.1528|   false|
+-----------------+------+---+--------+-----------+--------------+---------+-------+-----+---------+-----------+-----------------+-----------+--------+
only showing top 20 rows

In [9]:
df.printSchema()

root
 |-- JobTitle: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- PerfEval: integer (nullable = true)
 |-- Education: string (nullable = true)
 |-- Dept: string (nullable = true)
 |-- Seniority: integer (nullable = true)
 |-- BasePay: integer (nullable = true)
 |-- Bonus: integer (nullable = true)
 |-- CompanyID: integer (nullable = true)
 |-- TotalSalary: integer (nullable = true)
 |-- JobTitle: string (nullable = true)
 |-- AvgSalary: string (nullable = true)
 |-- BelowAvg: boolean (nullable = true)

In [19]:
df_cols = df.columns
# get index of the duplicate columns
duplicate_col_index = list(set([df_cols.index(c) for c in df_cols if df_cols.count(c) == 2]))

# rename by adding suffix '_duplicated'
for i in duplicate_col_index:
    df_cols[i] = df_cols[i] + '_duplicated'

# rename the column in DF
df = df.toDF(*df_cols)

# remove flagged columns
cols_to_remove = [c for c in df_cols if '_duplicated' in c]
df = df.drop(*cols_to_remove)

In [27]:
from pyspark.ml.feature import StringIndexer
job_indexer = StringIndexer(inputCol="JobTitle", outputCol="JobIndex")
edu_indexer = StringIndexer(inputCol="Education", outputCol="EducationIndex")
dept_indexer = StringIndexer(inputCol="Dept", outputCol="DeptIndex")
#below_indexer = StringIndexer(inputCol="BelowAvg", outputCol="BelowIndex")
df = job_indexer.fit(df).transform(df)
df = edu_indexer.fit(df).transform(df)
df = dept_indexer.fit(df).transform(df)
#df = below_indexer.fit(df).transform(df)

IllegalArgumentException: requirement failed: The input column BelowAvg must be either string type or numeric type, but got BooleanType.

In [31]:
ohe = OneHotEncoder(inputCols=["JobIndex", "EducationIndex", "DeptIndex"], 
                    outputCols=["JobEncoded", "EducationEncoded", "DeptEncoded"])
df = ohe.fit(df).transform(df)

In [34]:
df = df.drop("Gender", "Education", "Dept", "BasePay", "Bonus", "CompanyID", "TotalSalary", "JobTitle", "AvgSalary", "EducationIndex", "JobIndex", "DeptIndex")
df.show()

+---+--------+---------+--------+-------------+----------------+-------------+
|Age|PerfEval|Seniority|BelowAvg|   JobEncoded|EducationEncoded|  DeptEncoded|
+---+--------+---------+--------+-------------+----------------+-------------+
| 58|       1|        4|   false|(9,[8],[1.0])|       (3,[],[])|(4,[2],[1.0])|
| 59|       4|        5|   false|(9,[8],[1.0])|       (3,[],[])|(4,[1],[1.0])|
| 65|       4|        5|   false|(9,[5],[1.0])|   (3,[1],[1.0])|(4,[1],[1.0])|
| 55|       1|        5|   false|(9,[8],[1.0])|   (3,[0],[1.0])|(4,[2],[1.0])|
| 60|       4|        3|   false|(9,[8],[1.0])|       (3,[],[])|(4,[2],[1.0])|
| 59|       1|        5|   false|(9,[1],[1.0])|   (3,[2],[1.0])|(4,[1],[1.0])|
| 65|       4|        5|   false|(9,[1],[1.0])|   (3,[0],[1.0])|(4,[2],[1.0])|
| 60|       4|        3|   false|(9,[8],[1.0])|   (3,[2],[1.0])|(4,[2],[1.0])|
| 62|       5|        5|   false|(9,[8],[1.0])|   (3,[2],[1.0])|    (4,[],[])|
| 64|       2|        5|   false|(9,[1],[1.0])|       (3,[],[])|(4,[1],[1.0])|
| 48|       2|        4|   false|(9,[8],[1.0])|       (3,[],[])|(4,[3],[1.0])|
| 59|       4|        4|   false|(9,[1],[1.0])|   (3,[1],[1.0])|(4,[3],[1.0])|
| 47|       1|        4|   false|(9,[8],[1.0])|   (3,[1],[1.0])|(4,[3],[1.0])|
| 60|       4|        5|   false|(9,[1],[1.0])|   (3,[1],[1.0])|(4,[1],[1.0])|
| 62|       4|        4|   false|(9,[8],[1.0])|   (3,[1],[1.0])|(4,[1],[1.0])|
| 58|       4|        5|   false|(9,[1],[1.0])|   (3,[1],[1.0])|(4,[3],[1.0])|
| 55|       2|        5|   false|(9,[8],[1.0])|   (3,[2],[1.0])|(4,[2],[1.0])|
| 43|       1|        4|   false|(9,[8],[1.0])|       (3,[],[])|(4,[2],[1.0])|
| 56|       2|        4|   false|(9,[8],[1.0])|       (3,[],[])|    (4,[],[])|
| 57|       3|        5|   false|(9,[8],[1.0])|       (3,[],[])|(4,[0],[1.0])|
+---+--------+---------+--------+-------------+----------------+-------------+
only showing top 20 rows

In [ ]:
from pyspark.ml.linalg import Vectors 
from pyspark.ml.feature import VectorAssembler
assembler = VectorAssembler(inputCols=)